<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<button onclick="add()">add</button>
</br>
<div id="message"></div>
<span></span>
</body>
<script type="text/javascript">
    var i = 0;

    function add() {
        var div = document.getElementById("message");
        var textarea = document.createElement("textarea");
        textarea.setAttribute("id", i);
        textarea.innerText = i;
        i = i + 1;
        var button1 = document.createElement("button");
        button1.setAttribute("onclick", "send(this)");
        button1.setAttribute("class", "send");
        button1.innerHTML = "send";
        textarea.appendChild(button1);
        div.appendChild(textarea);
    }

    function send(obj) {
        alert(obj.parentNode.getAttribute("id"));
    }
</script>
</html>