<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>My WebSocket</title>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/function-process/date-format.js"></script>
    <script type="text/javascript" src="js/function-process/button-function.js"></script>
</head>
<script type="text/javascript" th:inline="javascript">
    window.onload = function () {
        var body = document.body;
        var span = document.createElement("span");
        var br = document.createElement("br");
        span.setAttribute("id", "sender");
        span.innerText = "Welcome " + name;
        body.appendChild(span);
        body.appendChild(br);
        if (role == "common") {
            var div = document.createElement("div");
            div.setAttribute("id", privateChatObj);
            body = document.body;
            clientFace(div, null);
            body.appendChild(div);
        } else if (role == "professor") {
            $.ajax({
                url: "/getLeaveWord",
                type: "POST",
                data: {
                    "receiver_id": user_id,
                },
                async: false,
                success: function (result) {
                    if (result != null) {
                        $.each(result, function (i, msg) {
                            var strArray = msg.split(';');
                            newChat(msg, strArray);
                        });
                    }
                }
            });
        }
    }
</script>
<style>
    #list {
        position: absolute;
        left: 50%;
        top: 40%;
        width: 200px;
        height: 300px;
        margin-top: -80px;
        margin-left: -100px;
        border: 1px solid black;
        z-index: 1000;
        background: white;
    }
</style>
<body>
</body>

<script type="text/javascript" th:inline="javascript">
    var websocket = null;
    var user_id = [[${account.user_id}]];
    var name = [[${account.name}]];
    var role = [[${account.role}]];
    var privateChatObj = null;
    //判断非专家用户的专属专家
    if (privateChatObj == null && role == "common") {
        $.ajax({
            url: "/getPrivateChatObj",
            type: "POST",
            data: {
                "user_id": user_id,
            },
            async: false,
            success: function (result) {
                privateChatObj = result;
            }
        });
    }

    //判断当前浏览器是否支持WebSocket
    if ('WebSocket' in window) {
        websocket = new WebSocket("ws://localhost:8080/websocket/" + user_id);
        //websocket = new WebSocket("ws://localhost:8080/websocket/" + user_id);
    }
    else {
        alert('Not support websocket')
    }
    //连接发生错误的回调方法
    websocket.onerror = function () {
        alert("断网了");
    };
    //连接成功建立的回调方法
    websocket.onopen = function (event) {
        //setMessageInnerHTML("open");
        // if (signal != null)
        //     websocket.send(JSON.stringify(signal));
    }
    //接收到消息的回调方法
    websocket.onmessage = function (event) {
        var data = event.data;
        var strArray = data.split(';');
        if (role == "professor") {
            if (strArray[0] == "system") {
                newChat(data, strArray);
            }
            else {
                var realData = data.substring(strArray[0].length + 1, data.length - strArray[strArray.length - 1].length - 1);
                var to = strArray[strArray.length - 1];
                setMessageInnerHTML(realData, to);
            }
        } else if (role == "common") {
            if (strArray[0] == "system") {
                if (strArray[strArray.length - 1] == "disband") {
                    document.getElementById("to").parentNode.attributes[0].value = privateChatObj;
                    document.getElementById("to").innerHTML = privateChatObj;
                    document.getElementById("mode").innerHTML = "单聊";
                    document.getElementById("exit").remove();
                    setMessageInnerHTML("群聊已解散", null);
                } else {
                    if (strArray[strArray.length - 1] == "exit")
                        data = data.substring(strArray[0].length + strArray[1].length + strArray[2].length + 3, data.length - strArray[strArray.length - 1].length - 1);
                    else {
                        data = data.substring(8 + strArray[1].length, data.length - 8);
                        document.getElementById(privateChatObj).setAttribute("id", strArray[1]);
                        exitGUI(document.getElementById(strArray[1]));
                        setMessageInnerHTML("您已进入群聊", null);
                    }
                    document.getElementById("to").innerHTML = data;
                    document.getElementById("mode").innerHTML = "群聊";
                }
            } else if (strArray[0] == "personal") {
                data = data.substring(9, data.length);
                setMessageInnerHTML(data, null);
            }
            else if (strArray[0] == "groupChat") {
                data = data.substring(10, data.length - strArray[strArray.length - 1].length - 1);
                setMessageInnerHTML(data, null);
            }
        }
    }
    //连接关闭的回调方法
    websocket.onclose = function () {
        //setMessageInnerHTML("close");
    }
    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function () {
        websocket.close();
    }

    //将消息显示在网页上
    function setMessageInnerHTML(innerHTML, to) {
        if (role == "professor") {
            document.getElementById(to).children[6].innerHTML += innerHTML + '<br/>';
        } else {
            document.getElementById('message').innerHTML += innerHTML + '<br/>';
        }
    }

    //关闭连接
    function closeWebSocket() {
        websocket.close();
    }

    //专家收到消息界面变化
    function newChat(data, strArray) {
        var length = data.length;
        var strLength = strArray.length;
        if (strArray[strLength - 1] == "rebuild" && document.getElementById(strArray[1]) == null) {
            professorFace(strArray[1]);
            document.getElementById(strArray[1]).children[4].innerHTML = data.substring(8 + strArray[1].length, length - 8);
            document.getElementById(strArray[1]).children[5].innerHTML = "群聊";
            exitGUI(document.getElementById(strArray[1]));
        } else if (strArray[strLength - 1] == "build") {
            var div = document.getElementById(strArray[strLength - 2]);
            if (div == null)
                professorFace(strArray[strLength - 2]);
            data = data.substring(7, length - 6);
            strArray = data.split(';');
            var realData = data.substring(0, data.length - strArray[strArray.length - 1].length - 1);
            var to = strArray[strArray.length - 1];
            setMessageInnerHTML(realData, to);
        } else if (strArray[strLength - 1] == "exit"){
            realData = data.substring(strArray[0].length + strArray[1].length + strArray[2].length + 3, data.length - strArray[strArray.length - 1].length - 1);
            document.getElementById(strArray[2]).children[4].innerHTML = realData;
            if (strArray[1] != "none")
                setMessageInnerHTML(strArray[1], strArray[2]);
        }else if (strArray[strLength - 1] == "disband"){
            var div = document.getElementById(strArray[strLength - 2]);
            div.remove();
        }
    }

</script>
</html>