<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>My WebSocket</title>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/function-process/date-format.js"></script>
    <script type="text/javascript" src="js/function-process/button-function.js"></script>
    <script type="text/javascript" src="js/function-process/role-face.js"></script>
</head>
<script type="text/javascript" th:inline="javascript">
    <!---->
    window.onload = function () {
        var body = document.body;
        var span = document.createElement("span");
        var br = document.createElement("br");
        span.setAttribute("id", "sender");
        span.innerText = "Welcome " + name;
        body.appendChild(span);
        body.appendChild(br);
        if (role == "common") {
            var group_id = null;
            $.ajax({
                url: "/getGroup",
                type: "POST",
                data: {
                    "user_id": user_id,
                },
                async: false,
                success: function (result) {
                    if (result != "") {
                        group_id = result;
                    }
                }
            });
            var div = document.createElement("div");
            if (group_id != null) {
                div.setAttribute("id", group_id);
            } else {
                div.setAttribute("id", privateChatObj);
            }
            body = document.body;
            clientFace(div, null);
            body.appendChild(div);
            if (group_id != null) {
                document.getElementById("mode").innerHTML = "群聊";
                exitGUI(div);
            }
        } else if (role == "professor") {
            $.ajax({
                url: "/getLeaveWord",
                type: "POST",
                data: {
                    "receiver_id": user_id,
                },
                async: false,
                success: function (result) {
                    if (result != null) {
                        $.each(result, function (i, msg) {
                            var strArray = msg.split(';');
                            newChat(msg, strArray);
                        });
                    }
                }
            });
        }
    }
</script>
<style>
    #list {
        position: absolute;
        left: 50%;
        top: 40%;
        width: 200px;
        height: 300px;
        margin-top: -80px;
        margin-left: -100px;
        border: 1px solid black;
        z-index: 1000;
        background: white;
    }
</style>
<body>
</body>

<script type="text/javascript" th:inline="javascript">
    var websocket = null;
    var user_id = [[${account.user_id}]];
    var name = [[${account.name}]];
    var role = [[${account.role}]];
    var privateChatObj = null;
    //判断非专家用户的专属专家
    if (privateChatObj == null && role == "common") {
        $.ajax({
            url: "/getPrivateChatObj",
            type: "POST",
            data: {
                "user_id": user_id,
            },
            async: false,
            success: function (result) {
                privateChatObj = result;
            }
        });
    }

    //判断当前浏览器是否支持WebSocket
    if ('WebSocket' in window) {
        websocket = new WebSocket("ws://localhost:8080/websocket/" + user_id);
        //websocket = new WebSocket("ws://localhost:8080/websocket/" + user_id);
    }
    else {
        alert('Not support websocket')
    }
    //连接发生错误的回调方法
    websocket.onerror = function () {
    };
    //连接成功建立的回调方法
    websocket.onopen = function (event) {
    }
    //接收到消息的回调方法
    websocket.onmessage = function (event) {
        var data = JSON.parse(event.data);
        if (role == "professor") {
            newChat(data);
        } else if (role == "common") {
            if (data.order == "fresh") {
                document.getElementById(privateChatObj).setAttribute("id", data.keyRole_id);
                exitGUI(document.getElementById(data.keyRole_id));
                setMessageInnerHTML("您已进入群聊", null);
                document.getElementById("to").innerHTML = data.message;
                document.getElementById("mode").innerHTML = "群聊";
            } else if (data.order == "disband") {
                document.getElementById("to").parentNode.attributes[0].value = privateChatObj;
                document.getElementById("to").innerHTML = privateChatObj;
                document.getElementById("mode").innerHTML = "单聊";
                document.getElementById("exit").remove();
                setMessageInnerHTML("群聊已解散", null);
            } else
                setMessageInnerHTML(data.message, data.keyRole_id);
        }
    }
    //连接关闭的回调方法
    websocket.onclose = function () {
        //setMessageInnerHTML("close");
    }
    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function () {
        websocket.close();
    }

    //将消息显示在网页上
    function setMessageInnerHTML(innerHTML, to) {
        if (role == "professor") {
            document.getElementById(to).children[6].innerHTML += innerHTML + '<br/>';
        } else {
            document.getElementById('message').innerHTML += innerHTML + '<br/>';
        }
    }

    //关闭连接
    function closeWebSocket() {
        websocket.close();
    }

    //专家收到消息界面变化
    function newChat(data) {
        if (data.order == "fresh" && document.getElementById(data.keyRole_id) == null) {
            professorFace(data.keyRole_id);
            document.getElementById(data.keyRole_id).children[4].innerHTML = "???";
            document.getElementById(data.keyRole_id).children[5].innerHTML = "群聊";
            exitGUI(document.getElementById(data.keyRole_id));
        } else if (data.order == "disband") {
            var div = document.getElementById(data.keyRole_id);
            div.remove();
        } else {
            if (data.order == "build") {
                var div = document.getElementById(data.keyRole_id);
                if (div == null)
                    professorFace(data.keyRole_id);
            }
            setMessageInnerHTML(data.message, data.keyRole_id);
        }
    }

</script>
</html>